#<IfModule mod_rewrite.c>
#    Options -MultiViews -Indexes
#    RewriteEngine On
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^(.*)$ /public/index.php [QSA,L]
#</IfModule>


#RewriteEngine On
#RewriteCond %{HTTP_HOST} !^localhost:83/ecomerce\$ [NC]
#RewriteRule ^(.*)$ localhost:83/ecomerce/public$1 [R=301,L]
