{% block subject %}
    Restablecer password
{% endblock %}

{% block body %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}
    {% autoescape %}
        <h3>Hola {{ user.username }}</h3>

        Para restablecer su password por favor visite
         <a href="{{ url|raw }}">{{ url|raw }}</a>
        <br/><br/>
        Saludos, el equipo.
    {% endautoescape %}
{% endblock %}
